<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="465618122191-tbm3tkp3ilfr9h192uihgrpmj0vipabr.apps.googleusercontent.com">
    <link rel="icon" href="undefined/docs/favicon.ico">
    <title><%=title%></title>
    <!-- Bootstrap core CSS-->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines!-->
    <!--if lt IE 9script(src='javascripts/ie8-responsive-file-warning.js')
    -->
    <script src="javascripts/ie-emulation-modes-warning.js"></script>
    <script src="https://apis.google.com/js/platform.js" async="" defer=""></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug-->
    <script src="javascripts/ie10-viewport-bug-workaround.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    -->
    <!-- Custom styles for this template-->
    <link href="stylesheets/carousel.css" rel="stylesheet">
</head>
<!-- NAVBAR-->
<!-- ==================================================-->
<body>
<style>
    html, body {
        padding: 0;
        margin: 0;
    }
    .table {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
        background-color: #e8ebef;
    }
    .cell {
        display: table-cell;
        vertical-align: middle;
    }
    .content {
        padding: 25px 0px 25px 0px;
        margin-left: auto;
        margin-right: auto;
        width: 280px; /* login widget width */
    }
</style>
<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">tellUsWho</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a data-toggle="modal" data-target="#loginModal" id="isUserloggedIn">Log-in...<span class="sr-only">(current)</span></a></li>
                <li id="signOutLi"><a href="#" onclick="signOut();">Sign out</a></li>
            </ul>
        </div>
    </div>
</div>
<!--<div class="jumbotron">-->
    <!--<div class="container text-center">-->
        <!--<div id="widget-container"></div>-->
        <!--<h1 class="text-center">tellUsWho-->
            <!--<h2 class="text-center">-->
                <!--<br/><br/> evry day-->
                <!--we tell u who <br/><br/>-->
            <!--</h2>-->
            <!--<p><a role="button" class="btn btn-primary text-center btn-lg">Learn more &raquo;</a></p>-->
        <!--</h1>-->
        <!--<div id="loginModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">-->
            <!--<div role="document" class="modal-dialog">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>-->
                        <!--<h1 class="text-center">Login</h1>-->
                        <!--<div data-onsuccess="onSignIn" class="g-signin2"></div>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->
                        <!--<form class="form col-md-12 center-block">-->
                            <!--<div class="form-group">-->
                                <!--<input type="text" placeholder="Email" class="form-control input-lg">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<input type="password" placeholder="Password" class="form-control input-lg">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<button class="btn btn-primary btn-lg btn-block">Sign In</button>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<form action="/signup" method="post">-->
                            <!--<div class="form-group">-->

                                <!--<div class="col-md-12">-->
                                    <!--<button class="btn btn-primary btn-lg btn-block">Register</button>-->
                                    <!--</br>-->
                            <!--<span class="pull-right">-->
                            <!--<button data-dismiss="modal" aria-hidden="true" class="btn">Cancel</button>-->
                                <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- Marketing messaging and featurettes-->
<!-- ==================================================-->
<!-- Wrap the rest of the page in another container to center all the content.-->
<div class="container marketing">
    <!-- Three columns of text below the carousel-->
    <div class="row">
        </br></br></br>
        <h3>Yo this must be you:</h3>
        <%if (user.name&&user.photo){%>
        <span><%=user.name%></span>
        <img src="<%=user.photo%>"/>
        <%}%>
        <h2>Enter an activity to send it to rabbitmq</h2>
        <div class="form-group">
            <form class="form col-md-5 center-block" method="post" action="/createActivity">
                <div class="form-group">
                    <input type="text" placeholder="activity" name="activity" class="form-control input-lg">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="exchangeName" name="exchangeName" class="form-control input-lg">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row-->
    <!-- START THE FEATURETTES-->


    <!-- /END THE FEATURETTES-->
    <!-- FOOTER-->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; NJIT HCC Labs. &middot;<a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>
<!-- /.container-->
<!-- Bootstrap core JavaScript-->
<!-- ==================================================-->
<!-- Placed at the end of the document so the pages load faster-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/react/react.min.js"></script>
<script src="javascripts/react/react-dom.min.js"></script>
<script src="javascripts/react/react-dom-server.min.js"></script>
<script src="javascripts/react/react-with-addons.min.js"></script>
<script src="javascripts/d3.min.js"></script>
<script src="https://cdn.auth0.com/js/lock-7.12.js"></script>
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        document.getElementById("isUserloggedIn").innerHTML = profile.getName();
        document.getElementById("signOutLi").style="display:block"
    }
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            document.getElementById("isUserloggedIn").innerHTML = "Log-in..."
            document.getElementById("signOutLi").style="display:none"
        });
    }
    $('.navbar-fixed-top').attr('style','background:rgba(255,255,255,0.9');
</script>
</body>
</html>