//
   Created by kingHenry on 11/22/15.

doctype html
html(lang='en')
    block link
        -var selected = 'react'; //default

    -var menu = { 'React Test': '/react','Chat':'/chatTest' ,'AngularTest':'/angular2'}
    head
        meta(charset='utf-8')

        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title= title
        // Bootstrap core CSS
        link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
        // Custom styles for this template
        link(href='stylesheets/dashboard.css', rel='stylesheet')
        link(href='stylesheets/d3style.css', rel='stylesheet')
        // Just for debugging purposes. Don't actually copy these 2 lines!
        // [if lt IE 9] <!
        // <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    body
        nav.navbar.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') react + d3 test
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#') Dashboard
                        li
                            a(href='#') Settings
                        li
                            a(href='#') Profile
                        li
                            a(href='#') Help
                    form.navbar-form.navbar-right
                        input.form-control(type='text', placeholder='Search...')
        .container-fluid
            .row
                .col-sm-3.col-md-2.sidebar
                    ul.nav.nav-sidebar
                        each val, key in menu
                            li(class=key)
                                if selected === key
                                    a.selected(href=val, title=key)= key
                                    span.sr-only(current)
                                else
                                    a(class=key,href=val, title=key)= key
                block content


    block scripts













