extends dashboardLayout
block link
    -var selected= 'Chat'
block content
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        .row.placeholders
            .col-xs-6.col-sm-3.placeholder
                div#output.pull-left
        .row#sendText
            .col-lg-6
                .input-group
                    input#messageInp.form-control(type='text', placeholder='enter msg')
                    span.input-group-btn
                        button#sendBtn.btn.btn-default(type='button') Send

block scripts
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://cdn.jsdelivr.net/sockjs/1.0.3/sockjs.min.js')
    script(src='javascripts/stomp.js')
    //script(src='static/ChatRoom.bundle.js')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    // Just to make our placeholder images work. Don't actually copy the next line!
    // <script src="javascripts/vendor/holder.min.js"></script>
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='javascripts/ie10-viewport-bug-workaround.js')
    script.
       Stomp.WebSocketClass = SockJS;
       var mq_username = "telluswho"
       var mq_password = "telluswho";
       var mq_vhost = "/";
       var mq_url = 'http://telluswho.such.works:15674/stomp';
       var mq_queue = "/exchange/#{chatExchange}";
       var output=document.getElementById("output");;
       var client = Stomp.client(mq_url);
       function on_connect() {
           output.innerHTML += 'Connected to RabbitMQ-Web-Stomp<br />';
           console.log(client);
           client.subscribe(mq_queue, on_message);
       }

       // This will be called upon a connection error
       function on_connect_error() {
           output.innerHTML += 'Connection failed!<br />';
       }

       // This will be called upon arrival of a message
       function on_message(m) {
           console.log('message received');
           var jsonMsg = JSON.parse(m.body);
           output.innerHTML += jsonMsg.chatBody.user +':'+ jsonMsg.chatBody.messageBody + '<br />';
       }
       window.onload = function () {
           // Fetch output panel
           output = document.getElementById("output");
           // Connect
           client.connect(
                   mq_username,
                   mq_password,
                   on_connect,
                   on_connect_error,
                   mq_vhost
           );
       }
    script.
        $('li.Chat').addClass("active");
        $('#h1bgraph').removeClass("text-center");
        var url = 'http://telluswho.such.works:3000/publishMessage'
        $('#sendBtn').click(function(){
            var activityExchange = "#{chatExchange}".split("@");
            var message = $('#messageInp').val();
           $.post(url,{"activity":activityExchange[0],"exchangeName":activityExchange[0]+"@"+activityExchange[1],"message":message,"userName":"#{user.email}"})
        });