extends dashboardLayout
block link
    -var selected= 'React Test'
block content
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        .row.placeholders
            .col-xs-6.col-sm-3.placeholder
            div#h1bgraph.pull-left

block scripts
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='static/bundle.js')
    // Just to make our placeholder images work. Don't actually copy the next line!
    // <script src="javascripts/vendor/holder.min.js"></script>
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='javascripts/ie10-viewport-bug-workaround.js')
    script.
        $('li.React').addClass("active");
        $('#h1bgraph').removeClass("text-center");