<!-- only thing near about this one is your id has to match what the component rendered to, 
and make sure that ur bundled js call is after, otherwise the element wont exist whence its called in your component -->
<head>
	<!--lightweight npm bootstrap-like styling package called skeleton -->
	<link rel="stylesheet" type="text/css" href="bower_components/skeleton/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="bower_components/skeleton/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="container">
	<div id="app">	</div>
	<script src="app.js"></script>
</div>
</body>
